<main>
			<div id="slide1" class="slide header">
						<div class="hoofdtitel"><h1>Best songs Belgium</h1></div>
						<div class="fotos1">
									<img class="foto1" src="http://lorempixel.com/640/480/abstract/1/">
								  <img class="foto1" src="http://lorempixel.com/640/480/abstract/2/">
									<img class="foto2" src="http://lorempixel.com/640/480/abstract/3/">
									<img class="foto2" src="http://lorempixel.com/640/480/abstract/4/">
									<img class="foto1" src="http://lorempixel.com/640/480/abstract/5/">
						</div>
						<div class="fotos2">
									<img class="foto2" src="http://lorempixel.com/640/480/abstract/6/">
									<img class="foto2" src="http://lorempixel.com/640/480/abstract/7/">
									<img class="foto1" src="http://lorempixel.com/640/480/abstract/8/">
									<img class="foto1" src="http://lorempixel.com/640/480/abstract/9/">
									<img class="foto1" src="http://lorempixel.com/640/480/abstract/10/">
						</div>
			</div>


			<div id="slide2" class="slide">
					  <div class="title">
							    <h2>1. One Dance</h2>
							    <p>Drake ft Wizkid & Kyla</p>
					  </div>
			</div>


			<div id="slide3" class="slide">
					  <div class="title">
							    <h2>2. 7 years</h2>
							    <p>Lukas Graham</p>
					  </div>
			</div>


			<div id="slide4" class="slide">
					  <div class="title">
							    <h2>3. I took a pill in Ibiza</h2>
							    <p>Mike Posner</p>
					  </div>
			</div>


			<div id="slide5" class="slide">
					  <div class="title">
							    <h2>4. Cheap thrills</h2>
							    <p>Sia</p>
					  </div>
			</div>


			<div id="slide6" class="slide">
					  <div class="title">
									<h2>5. This is what you came for</h2>
									<p>Calvin Harris ft Rihanna</p>
						</div>
			</div>


			<div id="slide7" class="slide">
					  <div class="title">
							    <h2>6. Lush life</h2>
							    <p>Zara Larsson</p>
					  </div>
			</div>


			<div id="slide8" class="slide">
					  <div class="title">
							    <h2>7. Work</h2>
							    <p>Rihanna ft Drake</p>
					  </div>
			</div>


			<div id="slide9" class="slide">
					  <div class="title">
							    <h2>8. Love yourself</h2>
							    <p>Justin Bieber</p>
					  </div>
			</div>


			<div id="slide10" class="slide">
					  <div class="title">
								  <h2>9. Stitches</h2>
									<p>Shawn Mendes</p>
						</div>
			</div>


			<div id="slide11" class="slide">
					  <div class="title">
							    <h2>10. Fast car</h2>
							    <p>Jonas Blue & Dakota</p>
					  </div>
			</div>
</main>
